body {
    text-align: center;
    letter-spacing: 9px;
    font-size: 60px;
    line-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

html {
    background: #28282B;
    color: #fff;
}

button {
    background: transparent;
    color: #fff;
    border: 1px solid;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    background: #fff;
    color: #000;
    transition: all 0.5s ease-in-out;
}